.tv {
  background: var(--ghibli-white);
  padding: 1.5rem;
  border: 30px solid var(--ghibli-brown);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 25rem;
  max-height: 27rem;
  min-height: 27rem;
  max-width: 800px;
    .screen {
      display: flex;
      gap: 1rem;
    }
  }
 