:root {
  --ghibli-beige: #f7e9b9;
  --ghibli-brown: #a17958;
  --ghibli-green: #a8c69f;
  --ghibli-blue: #bcdff5;
  --ghibli-pink: #fce2e1;
  --ghibli-white: #fbf7ea;

  --pixel-font: 'Press Start 2P', monospace;
}
